body {
	background: white; 
	padding-top: 50px; 
}

.container {
	display: flex; 
	flex-direction: column;
	justify-content: flex-start;
	/*padding: 50px; */
}

.circle {
	margin-top: 10px; 
	margin-bottom: 10px; 
  	border: 2px solid black;
	width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

#hour {
	background: #28536B;
}

#minute {
	background: #7EA8BE;
}

#second {
	background: #BACCD6;
}

#millisecond {
	background: #F0D8A0;
}