@font-face {
  	src: url(fonts/Schoolbell-Regular.ttf); 
	font-family: Schoolbell;
	line-height: 1.4;
}

@font-face {
  	src: url(fonts/GloriaHallelujah-Regular.ttf); 
  	font-family: GloriaHallelujah;
  	line-height: 1.4;
}

.light-green {
	background-color: #FDFFE5; 
	height: 15px; 
	border: #FDFFE5; 
}

.dark-green {
	padding-top: -10px; 
	background-color: #8AC954; 
	height: 20px; 
	border: #8AC954; 
}

header:hover {
	transform: scale(1.3);
}

h1 {
	text-align: center; 
	background-color: #CB2D2D;
	padding-top: 50px; 
	padding-bottom: 50px; 
	font-family: GloriaHallelujah; 
	font-weight: bold;
	letter-spacing: 25px; 
}

h2 {
	text-align: center; 
	background-color: #F1FFC4;
	padding-top: 20px; 
	padding-bottom: 20px; 
	font-family: GloriaHallelujah; 
	letter-spacing: 5px;
}

h3 {
	font-family: GloriaHallelujah;
	padding-top: 20px; 
	font-weight: bold; 
}

p {
	font-family: Schoolbell; 
}

body {
	margin-right: 25%;
	margin-left: 25%; 
}

ol {
	font-family: Schoolbell; 
}

li {
	font-family: Schoolbell;
}

