@keyframes spin {
	0% {
		transform: rotate(0turn);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	}	
}

#yin-yang {
	height: 500px;
	animation: spin 5s infinite; 
}

#yin-yang:hover {
	animation-play-state: paused; 
	cursor: pointer; 
}

#yin-yang path, #yin-yang circle {
	animation: fade 5s ease-in infinite alternate-reverse; 
}